<% include layout %>

<h2>Admin Giriş</h2>
<form method="POST" action="/admin/login">
  <input type="text" name="username" placeholder="Kullanıcı Adı" required /><br />
  <input type="password" name="password" placeholder="Şifre" required /><br />
  <button type="submit">Giriş Yap</button>
</form>
